:root {
  scroll-behavior: smooth;
  /* Color */
  --color-blue: #4a3aff;
  --color-yellow: #ffb950;
  --color-black: #343434;
  --color-dark-gey: #4e4e4e;
  --color-grey: #8d8d8d;
  --color-light-grey: #e0e0e0;
  --color-white: #fff;
  --color-aqua: #5ca4bb;
  /* font */
  --font-size-xlarge: 4rem;
  --font-size-large: 3rem;
  --font-size-medium: 1.5rem;
  --font-size-regular: 1rem;
  --font-size-small: 0.8rem;
  --font-size-xsmall: 0.6rem;

  /* Annimation */
  --animation-duration: 250ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

h2 {
  color: var(--color-blue);
}

p {
  text-indent: 1em;
}

/* Navbar */

.nav--off {
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 2.5em;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-blue);
  opacity: 80%;
  backdrop-filter: blur(3px);
}

.nav__toggle-btn {
  position: absolute;
  top: 0.5em;
  left: 5.5em;
  padding: 0.3em;
  border: none;
  background-color: transparent;
}

.nav__toggle-btn img,
.nav__toggle-btn--off img {
  width: 1.5em;
}

.logo--blue img,
.logo--yellow img {
  position: relative;
  top: 0.1em;
  width: 5.5em;
}

.nav--on {
  z-index: 98;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  background: url("./src/indexViewSrc/menu/menu_background.png") center/cover
    no-repeat;
}

.nav--on.is-hover {
  height: 100%;
}

.nav--blue {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: 2.5em;
  padding: 0.3em;
  border-bottom: 1px solid var(--color-yellow);
}

.nav__toggle-btn--off {
  position: absolute;
  top: 0.4em;
  left: 1.1em;
  padding: 0.3em;
  border: none;
  background-color: transparent;
}

.menu {
  position: fixed;
  top: 0;
  margin-top: 0.4em;
  width: 92%;
  font-size: var(--font-size-xlarge);
  color: var(--color-yellow);
}

.menu__item {
  display: flex;
  align-items: center;
  width: 92vw;
  padding: 0.5em 0.3em 0.3em 0.3em;
  border-bottom: 1px solid var(--color-yellow);
}

.menu__title {
  margin: 0 5% 0 2%;
}

.menu__title:hover {
  color: var(--color-white);
  border-radius: 50%;
  background: radial-gradient(
    ellipse closest-side,
    rgba(255, 185, 80, 1),
    rgba(255, 185, 80, 0.9) 10%,
    rgba(255, 185, 80, 0.5) 50%,
    transparent
  );
}

.projects-categories {
  display: flex;
  align-items: center;
}

.projects-categories::before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background: url("./src/indexViewSrc/Star.png") center/contain no-repeat;
}

.divider {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background: url("./src/indexViewSrc/menu_divider.png") center/cover;
}

.projects-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-medium);
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 1em;
  padding: 0.5em 1em;
}

.projects-category:hover {
  color: var(--color-white);
  border-radius: 50%;
  background: radial-gradient(
    ellipse closest-side,
    rgba(255, 185, 80, 1),
    rgba(255, 185, 80, 0.9) 10%,
    rgba(255, 185, 80, 0.5) 50%,
    transparent
  );
}

.projects-preview::before {
  content: "";
  position: absolute;
  width: 200%;
  left: 0px;
  bottom: 100%;
  height: 70px;
}

.projects-preview {
  display: none;
  top: 28%;
  left: 30.5%;
  align-items: center;
  position: absolute;
}

.projects-category:hover ~ .projects-preview {
  display: flex;
}

.projects-preview:hover {
  display: flex;
}

.projects-preview:hover ~ .projects-category {
  color: var(--color-white);
}

.projects-preview img {
  width: 2.8em;
  margin-right: 0.7em;
  border: 1px solid var(--color-yellow);
}

.menu .menu__item:nth-child(2).is-hover {
  align-items: flex-end;
  height: 4.5em;
}

.email,
.sns {
  all: initial;
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  padding-right: 2em;
  color: var(--color-yellow);
  font-size: var(--font-size-medium);
  line-height: 1.8;
}

.hidden {
  display: none;
}

.down-arrow {
  z-index: 3;
  position: absolute;
  top: 82vh;
  left: calc(50vw - 3.25rem);
  width: 6.5rem;
  height: 3.5rem;
}

.top-btn {
  z-index: 3;
  position: absolute;
  bottom: 5em;
  width: 6.5rem;
  height: 3.5rem;
}

.top-btn img {
  width: 6.5rem;
  height: 3.5rem;
}

/* Projects - intro */

.project-detail {
  position: relative;
  top: 2.5em;
  margin: 0 auto;
  width: 75%;
  height: 100%;
  padding-bottom: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--color-blue);
  border-right: 1px solid var(--color-blue);
}

.sidearea--left {
  position: fixed;
  left: 0;
  width: 12.5%;
  height: 100%;
}

.sidearea--right {
  position: fixed;
  right: 0;
  width: 12.5%;
  height: 100%;
}

.sidearea--left a {
  left: 5%;
  transition: var(--animation-duration);
}

.sidearea--right a {
  left: 92.5%;
  transition: var(--animation-duration);
}

.side-btn {
  font-size: var(--font-size-small);
  color: var(--color-blue);
  position: fixed;
  top: calc(50% - 2.5em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-btn div {
  width: 4em;
  height: 4em;
  margin-bottom: 0.5em;
}

.previous-btn__image {
  background: url("./src/prejectSrc/next_circle_w.png") center/contain no-repeat;
  transition: var(--animation-duration);
}

.previous-btn__image:hover {
  background: url("./src/prejectSrc/next_circle_b.png") center/contain no-repeat;
}

.next-btn__image {
  background: url("./src/prejectSrc/next_circle_w.png") center/contain no-repeat;
  transform: scale(-1);
  transition: var(--animation-duration);
}

.next-btn__image:hover {
  background: url("./src/prejectSrc/next_circle_b.png") center/contain no-repeat;
}

.project-intro .project-img {
  width: 100%;
  height: 35em;
  border-bottom: 1px solid var(--color-blue);
}

.project-info {
  width: 100%;
  padding: 2em 4em;
  display: flex;
  margin-bottom: 8em;
}

.project-title {
  color: var(--color-blue);
  font-size: var(--font-size-xlarge);
  line-height: 1.3em;
  margin-bottom: 0.2em;
}

.project-subtitle {
  color: var(--color-blue);
  font-size: var(--font-size-medium);
  font-weight: 400;
  margin-bottom: 1em;
}

.project-table {
  text-align: left;
  border-collapse: collapse;
}

.project-table tr {
  border-top: 1px solid var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
}

.project-table th {
  font-weight: 400;
}

.project-table td {
  padding: 0.2em 5em;
  white-space: nowrap;
}

.project-concept {
  width: 50%;
  margin-top: 5em;
  margin-left: 5em;
}

.project-concept p {
  line-height: 1.7;
  margin-bottom: 1em;
}

@media screen and (max-width: 1024px) {
  .project-info {
    flex-direction: column;
  }

  .project-concept {
    width: 80%;
    margin-left: 0;
  }
}

.img-description--in {
  position: relative;
  top: 93%;
  left: 45%;
  font-style: italic;
  font-weight: 300;
  color: var(--color-grey);
}

.project-description-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--color-black);
  margin-bottom: -2em;
}

.project-description {
  position: relative;
  width: 70%;
  margin: 5em auto 8em auto;
  font-size: var(--font-size-regular);
  letter-spacing: 0.03em;
  line-height: 2;
}

.img-description--out {
  position: relative;
  top: 102%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2em;
  font-style: italic;
  font-weight: 300;
  color: var(--color-grey);
}

.credit {
  text-align: center;
  margin-top: 12em;
  color: var(--color-grey);
  font-style: oblique;
  line-height: 2em;
}

/* related project */

.related-projects {
  position: relative;
  top: 39px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--color-blue);
}

.related-projects__containers {
  display: flex;
  width: 100%;
}

.related-projects h2 {
  margin: 1em auto;
}

.related-projects__container > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-top: 1px solid var(--color-blue);
}

.related-projects__container:last-child {
  border-left: 1px solid var(--color-blue);
}

.related-projects__container:hover .related-projects__hover {
  opacity: 100%;
}

.related-projects__hover {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 82%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: var(--animation-duration) ease-in;
}

.related-projects__title-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 0 2em;
  background-color: rgba(255, 255, 255, 0.5);
}

.related-projects__title {
  display: flex;
  flex-direction: column;
}

.related-projects__title h3 {
  color: var(--color-blue);
  font-size: var(--font-size-medium);
}

.related-projects__arrow {
  width: 3%;
}

/* Pop-up window when img clicked */
.img-window {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-window img {
  max-height: 90vh;
  max-width: 90vw;
}

.img-btn-prev {
  display: block;
  position: fixed;
  top: 48vh;
  left: 1em;
  padding: 1em;
  z-index: 500;
  cursor: pointer;
}

.img-btn-prev img {
  width: 3em;
  transform: scale(-1);
}

.img-btn-next {
  display: block;
  position: fixed;
  top: 48vh;
  right: 1em;
  padding: 1em;
  z-index: 500;
  cursor: pointer;
}

.img-btn-next img {
  width: 3em;
}
