:root {
  /* Color */
  --color-blue: #4a3aff;
  --color-yellow: #ffb950;
  --color-black: #343434;
  --color-grey: #8d8d8d;
  --color-white: #fff;
  /* font */
  --font-serif: "DM Serif Display", serif;
  --font-sanserif: "Poppins", sans-serif;
  --font-size-regular: 24px;
  --font-size-small: 16px;
  --font-size-xsmall: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.hiddne {
  display: none;
}

/* Roading View */
@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader.hidden {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

.loader {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./src/loadingViewSrc/background_ver2.png");
  background-color: var(--color-blue);
  background-size: cover;
  overflow: hidden;
}

@keyframes logo-title_ani {
  from {
    stroke-dashoffset: 2666;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.loader_logo-title {
  z-index: 1;
  position: absolute;
  width: 66%;
  stroke-dasharray: 2666;
  animation: logo-title_ani 3.5s linear;
}

@keyframes logo-dot_ani {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.loader_logo-dot {
  z-index: 1;
  position: absolute;
  width: 5%;
  transform: translate(650%, 110%);
  animation: logo-dot_ani 2.5s linear;
}

.loader_logo-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 27%;
  left: 14%;
  transform: rotate(4.6deg);
}

/* Index   View */

.index {
  width: 100vw;
  height: 300vh;
  background-position-y: 46px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./src/indexViewSrc/background_index.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index_navbar {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 2.5rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-blue);
}

.index_navbar_menuBtn {
  position: absolute;
  left: 0.5rem;
  border: none;
  background-color: transparent;
}

.index_navbar_menuBtn img {
  width: 1.3rem;
}

.index_navbar_logo img {
  width: 5.5rem;
}

.index_projects {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 7rem;
}

.index_projects_container {
  overflow: hidden;
  margin: 1rem 2rem;
}

.index_projects_container:hover .projects_img_hover {
  opacity: 0.5;
}

.index_projects_img {
  width: 22.5rem;
  height: 27.5rem;
  z-index: 1;
  display: block;
  position: absolute;
  overflow: hidden;
}

.projects_img_hover {
  z-index: 3;
  width: 22.5rem;
  height: 27.5rem;
  position: relative;
  display: block;
  opacity: 0;
}

.index_toTopBtn {
  position: relative;
  left: calc(50vw - 3.25rem);
  width: 6.5rem;
  height: 3.5rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  cursor: pointer;
}

.index_toTopBtn img {
  width: 6.5rem;
  height: 3.5rem;
}

.index_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4.6rem;
  font-size: var(--font-size-regular);
  font-family: var(--font-sanserif);
  color: var(--color-blue);
}

.index_footer_copyright img {
  position: relative;
  top: 3px;
  left: -3px;
  width: 23px;
}

.index_footer_smile {
  position: absolute;
  left: calc(50vw - 11.5px);
  width: 23px;
}
