:root {
  /* Color */
  --color-blue: #4a3aff;
  --color-yellow: #ffb950;
  --color-black: #343434;
  --color-grey: #8d8d8d;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
}

.roader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./src/roadingViewSrc/Background_group.png");
  background-color: var(--color-blue);
  background-size: cover;
}

@keyframes logo-title_ani {
  from {
    stroke-dashoffset: 2666;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.roader_logo-title {
  z-index: 1;
  position: absolute;
  width: 66%;
  stroke-dasharray: 2666;
  animation: logo-title_ani 3.5s linear;
}

@keyframes logo-dot_ani {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.roader_logo-dot {
  z-index: 1;
  position: absolute;
  width: 5%;
  transform: translate(650%, 110%);
  animation: logo-dot_ani 2.5s linear;
}

.roader_logo-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 27%;
  left: 14%;
  transform: rotate(4.6deg);
}

.logo-circle-text {
  font-family: Miracle;
}
